.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgb(255, 255, 255);
  }
  
  .flex-container>div {
    background-color: #acacac;
    color: white;
    width: 100px;
    height: 100px;
  }

  .flex-container>image {
    
  }

  .flex-container> box {
    background-color: #7c7c7cfd;
    color: white;
    width: 250px;
    height: 100px;
  }

  .flex-container>footnotes {
    display: flex;
    flex-direction: column;
    flex-shrink:1;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    width: 5000px;
    background-color: rgb(49, 49, 49);
    color: white;
  }
  